<div id="sidebar" class="col-2 d-flex flex-column">
  <h3>Team 3</h3>
  <h5>S12</h5>
  
  <b>1 Table Queries</b>
  <a href="/query1-1">Query 1</a>
  <a href="/query1-2">Query 2</a>

  <b>2 Table Queries</b>
  <a href="/query2-1">Query 1</a>
  <a href="/query2-2">Query 2</a>

  <b>3 Table Queries</b>
  <a href="/query3-1">Query 1</a>
  <a href="/query3-2">Query 2</a>

  <b>4+ Table Queries</b>
  <a href="/query4-1">Query 1</a>

  <footer>See our <a href="https://www.notion.so/stadvdbs123/STADVDB-S12-3-MC01-61353942ea784cf3993f10d030c54c9e">Notion</a></footer>
</div>