<div id="app" class="row">
  {{>sidebar}}

  <div id="content" class="col-10">
    
    <h1>STADVDB MC01</h1>
    <h2>Team 3</h2>
    <h3>Members</h3>
    <ul>
      <li>CANSANA, Jose Lorenzo</li>
      <li>JAMALUL, Gabriel Rasheed</li>
      <li>OLIQUINO, Alfred</li>
      <li>PE, Sean Michael</li>
    </ul>
    <b class='mr-5'>Dataset</b>
    <a class='blue-hover' href="https://www.kaggle.com/justinas/nba-players-data">NBA Players</a> - Biometric, biographic and basic box score features from 1996 to 2019 season. 
    <br>
    <br>
    <b class='mr-5'><a class='blue-hover' href="https://lucid.app/lucidchart/9aedd34f-8aa9-4196-9a25-0a8a3dcb2ded/edit?shared=true">Lucidchart</a></b>


  </div>
</div>